
/* Parent container for the cards */
.service__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Three cards per row */
    gap: 20px; /* Spacing between cards */
    margin: 40px 0;
}

/* Service Card Styling */
.service__card {
    background: var(--color-ui-secondary);
    padding: 20px;
    border-radius: var(--radius-3);
    border: solid 2px transparent;
    transition: var(--transition);
    box-shadow: var(--shadow-1);
    text-align: center; /* Center-align card content */
}

.service__card:hover {
    border-color: var(--color-primary);
    background: var(--color-ui-variant);
}

.service__card .icon__container {
    font-size: 45px;
    width: 4rem;
    height: 4rem;
    margin: 0 auto; /* Center the icon */
}

.service__card:hover .icon__container {
    transform: scale(1.2);
    color: var(--color-primary);
}

.service__card .name {
    font-size: 16px;
    margin: 30px 0 10px 0;
    font-weight: bold;
}

.service__card .description {
    font-size: 14px;
    color: var(--color-text-muted); /* Optional for muted text styling */
}
